body {
  position: relative;
  background-color: hotpink;
  line-height: 150px;
  color: hotpink;
  text-align: center;
}
#logo {
  background-color: whitesmoke;
  position: absolute;
  font-size: 90px;
  font-family: bella fashion personal use;
  width: 150px;
  height: 150px;
}

#logo::before {
  content: "ADDA";
  position: inherit;
  height: inherit;
  width: 400px;
  left: 160px;
  background-color: inherit;
  font-family: myfont;
}

@font-face {
  font-family: myfont;
  src: url(AlegreyaSansSC-Thin.ttf);
}
